# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.fbx
*.fbm
*.mv1
*.blend1
*.blend
*.zip
Base/Base/x64/Debug/
Base/Base/x64/
Base/Debug/
Base/x64/
Base/.vs/
Base/Debug/
Base/Base/Debug/
Base/Base/Release/
Base/Base/ResourceFile/SoundFile/SE/
Base/Base/ResourceFile/SoundFile/BGM/
Dx12/